// Benefits.
body {
  padding-top: 90px;
  margin-bottom: 250px;

  hr {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  p, li {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  .highlighted {
    background-image: url('../images/header_pic001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -260px;
    margin-bottom: 4rem;

    .pattern {
      padding: 8rem 0;
      background-image: url('../images/pattern_003.png');
      background-repeat: repeat;
    }

    h1 {
      color: @color-white;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }

    @media(max-width:768px) {
      background-position-y: 0;

      h1 {
        text-align: center;
      }
    }
  }

  &.page-termekek,
  &.page-szolgaltatasok {
    .highlighted {
      background-image: none;
      background-color: @color-brand-grey-light;

      ul.menu {
        text-align: center;
        margin: 2rem 0;

        li {
          display: inline-block;
          padding: 1rem 4rem;

          a {
            font-size: 1.7rem;
            color: @color-brand-blue-light;
            font-weight: 400;
          }
        }
      }
    }

    .target-tag {
      position: relative;
      top: -130px;
    }
  }

  .card-container {
    display: flex;
    align-items: stretch;

    .benefit-card {
      padding: 1rem;
      margin: 1rem;
      box-shadow: -2px 4px 20px 0px rgba(0,0,0,0.29);

      .btn {
        margin: 3rem 0;
      }

      .benefit-icon {
        color: @color-brand-blue-light;
        font-size: 3rem;
        margin: 3rem 0;
      }
    }
  }

  @media(max-width: 768px) {
    .card-container {
      display: block;
    }
  }

  @media (min-width: 992px) {
    body {
      padding-top: 90px;
    }
  }
}

@media(max-width:991px) {
  body {
    padding-top: 140px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */

    #topbutton {
      top: 140px;
    }
  }
}

@media(max-width:768px) {
  body {
    #topbutton {
      top: 51px;
    }

    padding-top: 51px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
}
